{% extends "base.html" %} {% block content %}
<div class="container">
    <div>
        <h1 class="intro">
            Hi, I'm Chuck Berry,
            <span>I'm a Technical Architect</span>
        </h1>
        <div class="content">
            <h2>
                14+ years building robust, performant software at scale.
                <br /><br />
                See some of my
                <span
                    class="scroll-link underline"
                    onclick="window.scrollTo({top: document.getElementById('mywork').offsetTop, behavior: 'smooth'})"
                    >past work.</span
                >
            </h2>
        </div>
    </div>
</div>

<div class="contain" id="mywork">
    <div class="mobile">
        <h1>Recent Work</h1>
    </div>
    {% for job in jobs %} {% include "partials/job.html" %} {% endfor %}

</div>
{% endblock %}
